table caption {
    margin-bottom: 2rem;
}

.form {
    font-size: 1.5rem;
    color: #fefefe;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

textarea {
    width: 100%;
    min-height: 20rem;
}