.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 24px;
}

.grid__item {
	background-color: #1c152a;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 1rem;
	padding: 1rem;
	flex: 0 1 50px;
}
