html {
	block-size: border-box;
}

*,
*:before,
*:after {
	block-size: inherit;
}

body {
	background-color: #fefefe;
}
h1 {
	color: darkgreen;
	padding: 16px;
}


.headerSection {
	color: red;
}

.czerwony {
	color: #a20041;
}

#nauka {
	background-color: yellow;
	padding: 16px;
}

section {
	padding: 16px;
}

section a {
	color: inherit;
}

footer {
	padding: 16px;
}

.my-article {
	color: hotpink;
}

.my-article p {
	background-color: #1460aa;
	color: #fff;
	padding: 16px;
}

.about {
	color: #a20041;
}

.headerMain {
	color: navy;
}

.headerArticle {
	color: darkgreen;
}
.navigation {
	padding: 16px;
	background-color: blue;
}

.navigation__link {
	color: white;
}

.section {
	background-color: #dcdcdc;
	margin-bottom: 16px;
}

.section__header {
	color: #044550;
}

.section__header--special {
	color: tomato;
}
