html {
	block-size: border-box;
}

*,
*:before,
*:after {
	block-size: inherit;
}

body {
	background-color: #0093e9;
	background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
	font-family: Arial, Helvetica, sans-serif;
}

main {
	max-width: 768px;
	margin: 0 auto;
}

.article {
	color: hotpink;
}

.article--special {
	background-color: yellow;
	padding: 16px;
}

.article__box {
	color: #fff;
}

.article__content {
	background-color: #1460aa;
	color: #fff;
	max-width: 80%;
	padding: 16px;
	margin-bottom: 0;
}

.article__header {
	color: darkgreen;
}

.article__list {
	list-style-type: circle;
}

.article-grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 12px;
}

.footer {
	padding: 16px;
	max-width: 768px;
	margin: 0 auto;
	background-color: #1460aa;
}
.footer__content {
	color: #949494;
}

.footer__top-link {
	display: block;
	position: fixed;
	bottom: 16px;
	right: 16px;
	color: white;
	padding: 8px 12px;
	background-color: black;
	border-radius: 8px;
}

.hamburger {
	padding: 4px;
	background: none;
	border: 0;
	font-size: 1.5rem;
}

.header {
	min-height: 50px;
	background-color: #150a1e;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.navigation {
	display: none;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 24px;
	background-color: #150a1e;
	padding: 16px;
	position: absolute;
	top: 50px;
	width: 100%;
}

.navigation--open {
	display: flex;
}

.navigation__link {
	color: white;
}

.page-header {
	padding: 16px;
}

.page-header__button {
	background-color: blue;
	color: white;
	font-weight: 700;
	border: 0;
	padding: 4px 8px;
	border-radius: 4px;
}

.page-header__heading {
	color: navy;
	padding: 16px;
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: -0.05em;
}

.section {
	background-color: #dcdcdc;
	width: 90%;
	padding: 16px;
	margin: 16px auto;
}

.section__header {
	color: #044550;
	padding: 16px;
}

.section__content {
	max-width: 80vw;
	margin: 16px auto;
	color: #a20041;
}

.section__image {
	display: block;
	max-width: 80vw;
	margin: 8px auto;
}

.section__link {
	color: inherit;
}

.section__header--special {
	color: #a20041;
}

.section p {
	line-height: 1.5;
	font-size: 18px;
}

.special {
	color: hotpink;
	font-weight: 300;
}

table {
	width: 100%;
	text-align: center;
}

table caption {
	margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
	body {
		background: black;
	}

	.article-grid {
		grid-template-columns: 1fr 1fr;
		gap: 24px;
	}

	.header {
		position: sticky;
		top: 0;
	}

	.hamburger {
		display: none;
	}

	.navigation {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: center;
		position: static;
		gap: 24px;
		background-color: #150a1e;
		padding: 16px;
	}

	.page-header__heading {
		font-size: 2rem;
	}

	.section-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 24px;
	}
}

@media screen and (min-width: 1280px) {
	.article-grid {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.page-header__heading {
		font-size: 3rem;
	}

	.section-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 24px;
	}
}
