html {
	block-size: border-box;
}

*,
*:before,
*:after {
	block-size: inherit;
}

body {
	background-color: #fefefe;
}

.article {
	color: hotpink;
}

.article--special {
	background-color: yellow;
	padding: 16px;
}

.article__content {
	background-color: #1460aa;
	color: #fff;
	max-width: 80vw;
	padding: 16px;
	margin: 16px auto;
}

.article__header {
	color: darkgreen;
}

.footer {
	padding: 16px;
}

.navigation {
	padding: 16px;
	background-color: blue;
}

.navigation__link {
	color: white;
}

.page-header__heading {
	color: navy;
	padding: 16px;
}

.section {
	background-color: #dcdcdc;
	width: 90vw;
	padding: 16px;
	margin: 16px auto;
}

.section__header {
	color: #044550;
	padding: 16px;
}

.section__content {
	max-width: 80vw;
	margin: 16px auto;
	color: #a20041;
}

.section__image {
	display: block;
	max-width: 80vw;
	margin: 8px auto;
}

.section__link {
	color: inherit;
}

.section__header--special {
	color: #a20041;
}
