$text-color: blue;
$tablet: 758px;
$desktop: 1280px;

@mixin pseudoElement {
	content: '';
	background: red;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	display: inline-block;
}

html {
	block-size: border-box;
}

*,
*:before,
*:after {
	block-size: inherit;
}

body {
	background-color: #0093e9;
	background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
	font-family: Arial, Helvetica, sans-serif;
	@media screen and (min-width: $tablet) {
		body {
			background: black;
		}
	}
}

main {
	max-width: 768px;
	margin: 0 auto;
}

.article {
	color: $text-color;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	&--special {
		background-color: yellow;
	}
	&__box {
		color: #fff;
	}
	&__content {
		background-color: #1460aa;
		color: #fff;
		max-width: 80%;
		padding: 16px;
		text-align: left;
	}
	&__header {
		color: darkgreen;
		&::before {
			@include pseudoElement();
		}
		&::after {
			@include pseudoElement();
		}
	}
	&__list {
		list-style-type: circle;
	}
}

.article-grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 12px;
	@media screen and (min-width: $tablet) {
		grid-template-columns: 1fr 1fr;
		gap: 24px;
	}
	@media screen and (min-width: $desktop) {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.footer {
	padding: 16px;
	max-width: 768px;
	margin: 0 auto;
	background-color: #1460aa;
	&__content {
		color: #949494;
	}
	&__top-link {
		display: block;
		position: fixed;
		bottom: 16px;
		right: 16px;
		color: white;
		padding: 8px 12px;
		background-color: black;
		border-radius: 8px;
	}
}

.hamburger {
	padding: 4px;
	background: none;
	border: 0;
	font-size: 1.5rem;
	@media screen and (min-width: $tablet) {
		display: none;
	}
}

.header {
	min-height: 50px;
	background-color: #150a1e;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	@media screen and (min-width: $tablet) {
		position: sticky;
		top: 0;
	}
}

.navigation {
	display: none;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 24px;
	background-color: #150a1e;
	padding: 16px;
	position: absolute;
	top: 50px;
	width: 100%;
	&--open {
		display: flex;
	}
	&__link {
		color: white;
	}
	@media screen and (min-width: $tablet) {
		display: flex;
		flex-flow: row wrap;
		position: static;
	}
}

.page-header {
	padding: 16px;
	&__button {
		background-color: blue;
		color: white;
		font-weight: 700;
		border: 0;
		padding: 4px 8px;
		border-radius: 4px;
	}
	&__heading {
		color: navy;
		font-size: 1.5rem;
		font-weight: 700;
		letter-spacing: -0.05em;
		@media screen and (min-width: $tablet) {
			font-size: 2rem;
		}
		@media screen and (min-width: $desktop) {
			font-size: 3rem;
		}
	}
}

.paragraph {
	background-color: blue;
	padding: 4px;
	color: white;
	text-align: center;
	&__link {
		color: tomato;
		&:hover {
			color: yellow;
		}
	}
	&__item {
		&--special {
			color: #a20041;
		}
		&:not(.paragraph__item--special) {
			color: greenyellow;
		}
		&:first-child {
			color: #0093e9;
		}
		&:last-child {
			color: #80d0c7;
		}
	}
	&:hover {
		background: #333;
	}
	&::before {
		content: 'Hello!';
		color: #6b5858;
		display: block;
	}
	&::after {
		content: '';
		display: block;
		background: #6b5858;
		width: 100px;
		height: 100px;
		border-radius: 100px;
	}
}

.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #dcdcdc;
	width: 90%;
	gap: 16px;
	padding: 16px;
	&__content {
		max-width: 80vw;
		color: #a20041;
		line-height: 1.5;
		font-size: 18px;
	}
	&__header {
		color: #044550;
		&--special {
			color: #a20041;
		}
	}
	&__image {
		display: block;
		max-width: 80vw;
		@media screen and (min-width: $tablet) {
			max-width: 80%;
		}
	}
	&__link {
		color: inherit;
	}
}

.section-grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 12px;
	@media screen and (min-width: $tablet) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 24px;
	}
	@media screen and (min-width: $desktop) {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 24px;
	}
}

.special {
	color: $text-color;
	font-weight: 300;
}

table {
	width: 100%;
	text-align: center;
	caption {
		margin-bottom: 2rem;
	}
}

